<% include ../views/partials/header %>
<div class="container">


    <h1><%= title %></h1>

  <form id="addarticle" class="form-control" action="/articles/edit/<%=article._id %>" method="post">
      <div class="form-group">
        <label for=""> Title:</label>
        <input class="form-control" type="text" value ="<%=article.title %>" name="title">
      </div>

      <div class="form-group">
        <label for=""> Subtitle:</label>
        <input class="form-control"type="text" value ="<%=article.subtitle %>"name="subtitle">
      </div>

      <div class="form-group">
        <label for=""> Select Category:</label>
        <select class="form-control" name='category' form="addarticle">
          <% category.forEach(function(category){ %>
            <%if (category._id === article.category) { %>
              <option value="<%=category._id %>" selected><%=category.title %></option>
                <% } else{ %>
                  <option value="<%=category._id %>" ><%=category.title %></option>
                  <% } %>

          <% }) %>

        </select>
      </div>

      <div class="form-group">
        <label for=""> Author:</label>
        <input class="form-control" type="text" value ="<%=article.author%>" name="author">
      </div>

      <div class="form-group">
        <label for=""> Body:</label>
        <textarea  class="form-control" name="body" rows="8" cols="80"><%=article.body%></textarea>
      </div>

      <input class="btn btn-primary" type="submit" name="submit" value="save">

      <a class="btn btn-primary" href="/manage/articles">Back</a>

      <a class="btn btn-danger article-delete pull-right" data-cat-id="<%=article._id%>" href="/manage/articles">Delete</a>



    </form>
    </div>
    <% include ../views/partials/footer %>
