<% include ../views/partials/header %>

    <% include ../views/partials/footer %>
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

<div class="container">
<div class="row">
  <% articles.forEach(function(articles){ %>
    <div class="col-md-12">
      <a href="/articles/show/<%=articles._id%>">

  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><%=articles.category%></div>
    <div class="card-body">
      <h5 class="card-title"><%=articles.title%></h5>
      <p class="card-text"><%=articles.subtitle%></p>
    </div>
  </div>
    </a>
  </div>

  <% }) %>


</div>
</div>
